
@using _Days.Models.Content
@inherits UmbracoViewPage

<!DOCTYPE html>

<html>

<head prefix="og: http://ogp.me/ns#">

    <link rel="stylesheet" href="css-bundle"/>
</head>

<body>

    @if (Model is IContentBlocksComposition contentBlocksComposition)
    {
        @Html.GetBlockListHtml(contentBlocksComposition.ContentBlocks)
    }



    @RenderBody()

</body>

</html>
