<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24f7db05-280a-42bf-bf22-785296f24d49" Alias="contentPage" Level="2">
  <Info>
    <Name>Content page</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Creates a new content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="bc810033-76d8-4a7d-964f-3d2aaf7b4d91">contentBlocksComposition</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="86b13173-c52c-4067-a9a3-0718c3948fc9">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="24f7db05-280a-42bf-bf22-785296f24d49" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>