<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bc810033-76d8-4a7d-964f-3d2aaf7b4d91" Alias="contentBlocksComposition" Level="2">
  <Info>
    <Name>Content Blocks Composition</Name>
    <Icon>icon-indent color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7b885915-c2f3-4b3a-9297-4dd220ce8079</Key>
      <Name>Content Blocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>08c4936c-2a69-42d7-99cb-173af155f406</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Manage the content blocks for this page]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>040f595d-914f-48db-81ac-3675b4c9fd46</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>