<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8f8d1fe7-9eef-4a94-8eed-47f7006172ca" Alias="dataFolder" Level="2">
  <Info>
    <Name>Data Folder</Name>
    <Icon>icon-server-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cf40f17a-eab9-4f62-8320-3bd66b175690" SortOrder="0">frequentlyAskedQuestionFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>