<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="803a8010-b81d-4530-8c31-20c71a07cdda" Alias="frequentlyAskedQuestionsBlock" Level="2">
  <Info>
    <Name>Frequently asked questions Block</Name>
    <Icon>icon-help-alt color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Adds a block that lists all frequently asked questions</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Content+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e30d70e1-6ca2-4e55-bed8-afeafc41533e</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a optional title for the block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5f20747e-edd6-4bb2-ba60-2f81ed8aea30</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>