<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf40f17a-eab9-4f62-8320-3bd66b175690" Alias="frequentlyAskedQuestionFolder" Level="2">
  <Info>
    <Name>Frequently asked question folder</Name>
    <Icon>icon-help-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e5b92989-77a2-43ad-b3b8-1c969614102c" SortOrder="0">frequentlyAskedQuestion</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>