<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="092a09a7-1fc5-414e-b608-0c229b02468c" Alias="homePage" Level="2">
  <Info>
    <Name>Home page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Creates a new homepage</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="bc810033-76d8-4a7d-964f-3d2aaf7b4d91">contentBlocksComposition</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bfdcc881-1974-461e-914c-1ef780de83f5">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>