<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c8ecfae-8916-4b4e-b07d-78446db9f8db" Alias="newsletterRegistrationBlock" Level="2">
  <Info>
    <Name>Newsletter Registration Block</Name>
    <Icon>icon-autofill color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Creates a new newsletter signup block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Content+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b8dff5a0-db4f-4b4d-b2bf-2a8d3d91fbb9</Key>
      <Name>Button text</Name>
      <Alias>buttonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optionally enter the text for the sign up button. If left empty the text "Sign up" will be used]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="registration">Registration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bac36285-ff76-4bbf-88be-936a98e9f96f</Key>
      <Name>Input field placeholder</Name>
      <Alias>inputFieldPlaceholder</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the optional placeholder text for the input field. If left empty the text "Email address" will be used]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="registration">Registration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48b1c603-6719-42ff-8256-1c2ddeed54ec</Key>
      <Name>Tagline</Name>
      <Alias>tagline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter an optional tagline that will appear above the title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f1797a3-1ddb-44fb-96c0-db7a07ce7b45</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the title for the block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>102e9ffa-bc81-4da2-8509-3dc97324ad67</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8ab678d2-e6ef-42c5-8c4c-1f2f1dde3f1e</Key>
      <Caption>Registration</Caption>
      <Alias>registration</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>