<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4ce5c36-49b0-49fe-9ecf-74a83496ed4c" Alias="publicationRestrictions" Level="3">
  <Info>
    <Name>Publication restrictions</Name>
    <Icon>icon-settings-alt color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Enables publication restrictions on a content block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Content+Blocks/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ec18230a-3e15-42d2-a09a-e956899fc108</Key>
      <Name>End date</Name>
      <Alias>endDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the date until this block will be visible on the page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="publicationRestrictions">Publication restrictions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8652099b-c0e1-4982-afc2-0bf64a26c33b</Key>
      <Name>Hide block</Name>
      <Alias>hideBlock</Alias>
      <Definition>ea5e2b3d-7166-4f6f-b6af-a2a4beebc379</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Toggle this to change the visibility of the block on the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="publicationRestrictions">Publication restrictions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f1db6d0-5d6b-4b3e-86e8-b85d596df2c6</Key>
      <Name>Start date</Name>
      <Alias>startDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the start date from which this block will be visible on the page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="publicationRestrictions">Publication restrictions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>71f91419-4687-45bc-993d-234d4bc197cb</Key>
      <Caption>Publication restrictions</Caption>
      <Alias>publicationRestrictions</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>