<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74111ebd-82a3-4b3d-a8fd-5f2df42d9de5" Alias="reusableContentBlock" Level="2">
  <Info>
    <Name>Reusable Content Block</Name>
    <Icon>icon-umb-contour color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Content+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d37882d3-7ab4-4480-8c76-6af98b427f37</Key>
      <Name>Block</Name>
      <Alias>block</Alias>
      <Definition>20b5c410-2d06-4408-b482-a40a7737ab71</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9e5a6e62-328a-4d6b-b2ae-bf310a1e4697</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>