<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="985259ab-2b7b-4eb2-991e-c3a82b61ec80" Alias="reusableContentBlocksFolder" Level="2">
  <Info>
    <Name>Reusable Content Blocks Folder</Name>
    <Icon>icon-umb-contour color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Creates a folder to store reusable content blocks</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1c12a86f-32fc-4750-b5d4-01afede7648d" SortOrder="0">reusableNewsletterRegistrationBlock</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>