<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1c12a86f-32fc-4750-b5d4-01afede7648d" Alias="reusableNewsletterRegistrationBlock" Level="2">
  <Info>
    <Name>Reusable Newsletter Registration Block</Name>
    <Icon>icon-autofill color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Creates a reusable news letter registration block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Reusable+Content+Blocks</Folder>
    <Compositions>
      <Composition Key="6c8ecfae-8916-4b4e-b07d-78446db9f8db">newsletterRegistrationBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>