<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a97926a-4b45-49a2-b924-b8f5af73a209" Alias="textAndImageBlock" Level="2">
  <Info>
    <Name>Text and Image Block</Name>
    <Icon>icon-article color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Adds a new text and image content block to the page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Content+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0380777c-840f-494e-87ae-39309826e8e9</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>ace242f5-e111-49e4-aa15-99bdd7e4e8d5</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a image for this block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="image">Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d4782eb-d000-4e27-9353-781a2beb8b05</Key>
      <Name>Image postion</Name>
      <Alias>imagePostion</Alias>
      <Definition>00ff031d-476f-4aef-9be0-a9a608fc5757</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the position of the image. Will be default to the left]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="image">Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8164b434-a478-4832-9705-cefeabfdcf54</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the text for this block.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>23c4ad28-6ebf-4f0d-8773-82c233f01847</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter an optional title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>503667a9-e0c3-437a-8c1e-2c6a1260f0be</Key>
      <Caption>Text</Caption>
      <Alias>text</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4d21616d-d380-416a-a5a3-9b13380e8e5d</Key>
      <Caption>Image</Caption>
      <Alias>image</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>