<?xml version="1.0" encoding="utf-8"?>
<Media Key="045be8ea-50db-4fba-baf2-b2a826ac946b" Alias="Analysis Background Beverage 1559043" Level="2">
  <Info>
    <Parent Key="90930e0b-e783-4db6-88bf-ff9490c6919a">test images</Parent>
    <Path>/testImages/AnalysisBackgroundBeverage1559043</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-12-07T07:54:48</CreateDate>
    <NodeName Default="Analysis Background Beverage 1559043" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3tufwbg1/analysis-background-beverage-1559043.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>