<?xml version="1.0" encoding="utf-8"?>
<Media Key="64602726-ebec-4862-98b8-c660e4a9b0e5" Alias="Board Capacitors Chips 1472443" Level="2">
  <Info>
    <Parent Key="90930e0b-e783-4db6-88bf-ff9490c6919a">test images</Parent>
    <Path>/testImages/BoardCapacitorsChips1472443</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-12-07T07:54:40</CreateDate>
    <NodeName Default="Board Capacitors Chips 1472443" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eathazhm/board-capacitors-chips-1472443.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>