<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d5aea01-9223-47d9-8aa1-ddabbdb6562f" Alias="Harley Davidson 1Hzcjjdtc9g Unsplash" Level="2">
  <Info>
    <Parent Key="90930e0b-e783-4db6-88bf-ff9490c6919a">test images</Parent>
    <Path>/testImages/HarleyDavidson1Hzcjjdtc9gUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-12-07T07:54:43</CreateDate>
    <NodeName Default="Harley Davidson 1Hzcjjdtc9g Unsplash" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/a5vfudjd/harley-davidson-1hzcjjdtc9g-unsplash.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>