<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bc7596a-4ac6-4467-ba63-cb962255c74a" Alias="Usgs Fiqbr7kfedy Unsplash" Level="2">
  <Info>
    <Parent Key="90930e0b-e783-4db6-88bf-ff9490c6919a">test images</Parent>
    <Path>/testImages/UsgsFiqbr7kfedyUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-12-07T07:54:46</CreateDate>
    <NodeName Default="Usgs Fiqbr7kfedy Unsplash" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nrmnok4g/usgs-fiqbr7kfedy-unsplash.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>