<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fd940af-2cef-4517-915b-bd2d01f29e64" Alias="Cloud Trial" Level="3">
  <Info>
    <Parent Key="6b8a711c-e235-4a8f-869c-965438e9d0e2">Frequently asked questions</Parent>
    <Path>/Data/FrequentlyAskedQuestions/CloudTrial</Path>
    <Trashed>false</Trashed>
    <ContentType>frequentlyAskedQuestion</ContentType>
    <CreateDate>2021-12-09T12:01:38</CreateDate>
    <NodeName Default="Cloud Trial">
      <Name Culture="en-us">Cloud Trial</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="en-us"><![CDATA[It's always nice and reassuring to try things out before you go all-in - we get that. There are several ways for you to do a bit of research.

Here are our top 3 recommendations (all are free): 

Take a 14-day free trial of Umbraco Cloud and test it out yourself

Sign up for a free Umbraco Cloud webinar and get a tour of Umbraco Cloud and all it's fundamental features

Watch free Umbraco Cloud tutorials. Discover what's possible - and how to do it!]]></Value>
    </answer>
    <question>
      <Value Culture="en-us"><![CDATA[Can I try Umbraco Cloud before deciding?]]></Value>
    </question>
  </Properties>
</Content>