<?xml version="1.0" encoding="utf-8"?>
<Content Key="c606d408-f887-4b92-afd2-6161369b27ff" Alias="Content blocks" Level="2">
  <Info>
    <Parent Key="4656ebb9-0030-4d58-80fc-8f065f92e0a8">Data</Parent>
    <Path>/Data/ContentBlocks</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentBlocksFolder</ContentType>
    <CreateDate>2021-12-11T14:17:03</CreateDate>
    <NodeName Default="Content blocks" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>