<?xml version="1.0" encoding="utf-8"?>
<Content Key="4656ebb9-0030-4d58-80fc-8f065f92e0a8" Alias="Data" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Data</Path>
    <Trashed>false</Trashed>
    <ContentType>dataFolder</ContentType>
    <CreateDate>2021-12-09T11:43:13</CreateDate>
    <NodeName Default="Data" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>