<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b8a711c-e235-4a8f-869c-965438e9d0e2" Alias="Frequently asked questions" Level="2">
  <Info>
    <Parent Key="4656ebb9-0030-4d58-80fc-8f065f92e0a8">Data</Parent>
    <Path>/Data/FrequentlyAskedQuestions</Path>
    <Trashed>false</Trashed>
    <ContentType>frequentlyAskedQuestionFolder</ContentType>
    <CreateDate>2021-12-09T12:00:22</CreateDate>
    <NodeName Default="Frequently asked questions" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>