<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f6094eb-0540-4a4c-a021-6346c8e8fb08" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2021-12-06T16:34:02</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="bfdcc881-1974-461e-914c-1ef780de83f5">HomePage</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e14918105f1141478b5923b7cfacd8cc",
        "settingsUdi": "umb://element/3b952361587a4146b5f9cfaf8e538428"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6a97926a-4b45-49a2-b924-b8f5af73a209",
      "udi": "umb://element/e14918105f1141478b5923b7cfacd8cc",
      "title": "Test title",
      "text": "<p>Test text</p>",
      "image": "[\r\n  {\r\n    \"key\": \"4798f509-2a9a-4466-8914-005f44203998\",\r\n    \"mediaKey\": \"ce5a0695-49a1-486f-b2c4-2dc640803d96\",\r\n    \"crops\": [\r\n      {\r\n        \"alias\": \"phone\",\r\n        \"label\": \"Phone\",\r\n        \"width\": 348,\r\n        \"height\": 256\r\n      },\r\n      {\r\n        \"alias\": \"tablet\",\r\n        \"label\": \"Tablet\",\r\n        \"width\": 720,\r\n        \"height\": 384\r\n      },\r\n      {\r\n        \"alias\": \"desktop\",\r\n        \"label\": \"Desktop\",\r\n        \"width\": 576,\r\n        \"height\": 640\r\n      }\r\n    ],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]",
      "imagePostion": "[\r\n  \"right\"\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c4ce5c36-49b0-49fe-9ecf-74a83496ed4c",
      "udi": "umb://element/3b952361587a4146b5f9cfaf8e538428",
      "hideBlock": "0",
      "startDate": null,
      "endDate": null
    }
  ]
}]]></Value>
    </contentBlocks>
  </Properties>
</Content>