<?xml version="1.0" encoding="utf-8"?>
<Content Key="80ef789c-db52-46bd-9176-8aeb0d6775c0" Alias="Number of Umbraco websites" Level="3">
  <Info>
    <Parent Key="6b8a711c-e235-4a8f-869c-965438e9d0e2">Frequently asked questions</Parent>
    <Path>/Data/FrequentlyAskedQuestions/NumberOfUmbracoWebsites</Path>
    <Trashed>false</Trashed>
    <ContentType>frequentlyAskedQuestion</ContentType>
    <CreateDate>2021-12-09T12:01:08</CreateDate>
    <NodeName Default="Number of Umbraco websites">
      <Name Culture="en-us">Number of Umbraco websites</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="en-us"><![CDATA[Umbraco is used by over 731438 active websites worldwide and is used to build all sorts of projects - small and large, public and private.]]></Value>
    </answer>
    <question>
      <Value Culture="en-us"><![CDATA[How many websites use Umbraco?]]></Value>
    </question>
  </Properties>
</Content>