<?xml version="1.0" encoding="utf-8"?>
<Content Key="acbd7baf-15e1-4d17-9c5c-5b9d607b42ce" Alias="Required technical skills" Level="3">
  <Info>
    <Parent Key="6b8a711c-e235-4a8f-869c-965438e9d0e2">Frequently asked questions</Parent>
    <Path>/Data/FrequentlyAskedQuestions/RequiredTechnicalSkills</Path>
    <Trashed>false</Trashed>
    <ContentType>frequentlyAskedQuestion</ContentType>
    <CreateDate>2021-12-09T12:02:24</CreateDate>
    <NodeName Default="Required technical skills">
      <Name Culture="en-us">Required technical skills</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="en-us"><![CDATA[If you've already got Umbraco developers on your team, there's no need to worry. 

The Umbraco Cloud features are less technical but do require some understanding of how deployment, upgrading, member management etc. works. 

And then you, of course, have to find out how all of this works in Umbraco Cloud in order to take full advantage of it all. 

This is why Umbraco Cloud training is included in this offer. After completing the training course, you, or one from your team, will be able to master your way around the Umbraco Cloud Portal and all its time-saving features and functionalities. ]]></Value>
    </answer>
    <question>
      <Value Culture="en-us"><![CDATA[What technical skills are required to work with Umbraco Cloud?]]></Value>
    </question>
  </Properties>
</Content>