<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e166dc4-7dfc-4cc1-a63a-59e33bd0be8b" Alias="Sign up" Level="2">
  <Info>
    <Parent Key="1f6094eb-0540-4a4c-a021-6346c8e8fb08">Home</Parent>
    <Path>/Home/SignUp</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-12-11T14:29:45</CreateDate>
    <NodeName Default="Sign up">
      <Name Culture="en-us">Sign up</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="86b13173-c52c-4067-a9a3-0718c3948fc9">ContentPage</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b8b17382a911436d9e6baf5559e6d971",
        "settingsUdi": "umb://element/969fa0954a0848e9989dab6127727ed7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "74111ebd-82a3-4b3d-a8fd-5f2df42d9de5",
      "udi": "umb://element/b8b17382a911436d9e6baf5559e6d971",
      "block": "umb://document/73cb178582884fe9977fff033d27d64f"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c4ce5c36-49b0-49fe-9ecf-74a83496ed4c",
      "udi": "umb://element/969fa0954a0848e9989dab6127727ed7",
      "hideBlock": "0",
      "startDate": null,
      "endDate": null
    }
  ]
}]]></Value>
    </contentBlocks>
  </Properties>
</Content>