<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08c4936c-2a69-42d7-99cb-173af155f406" Alias="Content Block List" Level="2">
  <Info>
    <Name>Content Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Content+Block+DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#20274e",
      "iconColor": "#e6c2bd",
      "thumbnail": null,
      "contentElementTypeKey": "6a97926a-4b45-49a2-b924-b8f5af73a209",
      "settingsElementTypeKey": "c4ce5c36-49b0-49fe-9ecf-74a83496ed4c",
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html",
      "stylesheet": "~/assets/styles.css",
      "label": "{{title}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#20274e",
      "iconColor": "#e6c2bd",
      "thumbnail": null,
      "contentElementTypeKey": "803a8010-b81d-4530-8c31-20c71a07cdda",
      "settingsElementTypeKey": "c4ce5c36-49b0-49fe-9ecf-74a83496ed4c",
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html",
      "stylesheet": "~/assets/styles.css",
      "label": null,
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#20274e",
      "iconColor": "#e6c2bd",
      "thumbnail": null,
      "contentElementTypeKey": "6c8ecfae-8916-4b4e-b07d-78446db9f8db",
      "settingsElementTypeKey": "c4ce5c36-49b0-49fe-9ecf-74a83496ed4c",
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html",
      "stylesheet": "~/assets/styles.css",
      "label": null,
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#20274e",
      "iconColor": "#e6c2bd",
      "thumbnail": null,
      "contentElementTypeKey": "74111ebd-82a3-4b3d-a8fd-5f2df42d9de5",
      "settingsElementTypeKey": "c4ce5c36-49b0-49fe-9ecf-74a83496ed4c",
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html",
      "stylesheet": "~/assets/styles.css",
      "label": null,
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": "100%"
}]]></Config>
</DataType>