<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ace242f5-e111-49e4-aa15-99bdd7e4e8d5" Alias="Image Picker (Text and media block)" Level="2">
  <Info>
    <Name>Image Picker (Text and media block)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Media+pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": true,
  "Crops": [
    {
      "alias": "phone",
      "label": "Phone",
      "width": 348,
      "height": 256
    },
    {
      "alias": "tablet",
      "label": "Tablet",
      "width": 720,
      "height": 384
    },
    {
      "alias": "desktop",
      "label": "Desktop",
      "width": 576,
      "height": 640
    }
  ]
}]]></Config>
</DataType>