<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00ff031d-476f-4aef-9be0-a9a608fc5757" Alias="Image Layout Options" Level="2">
  <Info>
    <Name>Image Layout Options</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "24Days.Models, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
          "_24Days.Models.Enums.ImageLayoutOptions"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "m",
        "labelStyle": "both",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>