<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea5e2b3d-7166-4f6f-b6af-a2a4beebc379" Alias="Publication Settings - Hide block - Toggle" Level="1">
  <Info>
    <Name>Publication Settings - Hide block - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": true,
  "LabelOn": "Hidden",
  "LabelOff": "Visible"
}]]></Config>
</DataType>