<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20b5c410-2d06-4408-b482-a40a7737ab71" Alias="Reusable Blocks DataList" Level="2">
  <Info>
    <Name>Reusable Blocks DataList</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": "$root/dataFolder/reusableContentBlocksFolder"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "0",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>